<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col-6 d-flex mt-5 header--app">
                <h1>Bonjour {{t}}</h1>
                <button type="button" class="btn btn-danger btn--logout">Se déconnecter</button>
            </div>
        </div>
    </header>
    <section class="container feed--cards">
      <div class="user--status mb-5 mt-5">
        <input type="text" id="user--status">
        <button class="btn btn-secondary btn--add--status">Ajoute ton statut</button>
      </div>
    </section>
    <script src="/js/feed.js"></script>
</body>
</html>