<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Inscription</title>
</head>
<body>
  <div class="container">
    <form class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
			<div class="row">
				<div class="col-12 p-5 rounded border bordeprimary">
					<div class="form-group">
						<label><small>Pseudo</small></label>
						<input type="mail" class="form-control pseudo--user">
					</div>
					<div class="form-group">
						<label><small>Mot de passe</small></label>
						<input type="password" class="form-control pswd--user">
					</div>
					<button type="submit" class="btn btn-primary inscription--btn mb-auto">S'inscrire</button>
					<div class="form-group mt-2">
						<small>Déjà un compte ?<a href="/connexion">Cliquez ici</a>
						</small>
					</div>
				</div>
			</div>
		</form>
  </div>
  <script src="/js/inscription.js"></script>
</body>
</html>