.header--app {
  position: fixed;
}

.btn--logout {
  position: absolute;
  right: 0;
  top: 11px;
}

.feed--cards {
  margin-top: 12%;
}

.feed--cards--infos {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin-bottom: 5%;
}

.feed--cards--infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.feed--cards--infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
